// menu header

h1{
  padding-left:0;
}


li {
  &:before {
    display: none;
  }
}

#side-menu {
  @include breakpoint(small) {
    display:none;
  }
  @include breakpoint(medium) {
    display:block;
  }
  .menu-item {
    @include menu-item;
  }

  .menu-item-has-children {
    border-bottom: 0;

    ul {
      margin-left: 15px;
    }
  }

  ul {
    margin-left: 0;
  }

  .current-menu-item {
    a {
      color: $primary-color;
    }

    .active a {
      color: $primary-color;
    }

    li a {
      color: $light-gray;
    }
  }
}

#bottom-menu {
  @include breakpoint(small) {
    margin-left: 10px;
    margin-right: 10px;
  }

  li,
  ul {
    margin: 0;
  }

  ul {
    @include breakpoint(medium) {
       @include grid-layout(4, '.menu-item', 20px);
    }
  }

  li {
    position: relative;
  }

  .menu-item a {
    border: 1px $primary-color solid;
    padding: 10px;
    font-size: 1.2em;
    color: $primary-color;
    font-weight: 300;
    width: 100%;
    height: 100px;
    margin-top: 1em;
    display: block;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: $primary-color;
      color: $white;

      &:after {
        transform: translate(15px, 2px);
      }
    }

    &:after {
      content: '\232A';
      display: block;
      width: 10px;
      height: 10px;
      transform: translate(10px, 2px);
      margin: 0;
      transition: all 0.2s;
      position: absolute;
      right: 50px;
      bottom: 40px;
    }
  }
}
