
.staff-list{
  border: 1px #e4e4e4 solid;
  color: #737373;
  -webkit-transition: all 1s;
  transition: all 1s;
  padding: 20px;
  float: left;
  margin-bottom: 2em;

  &__image{
    margin:0 auto;
    overflow:hidden;
    img{
      height: 220px;
      object-fit: cover;
      //border-bottom: $primary-color solid 2px;
    }
  }
  h4{
    color:$primary-color;
  }

  &__title{
    padding:1em 0 0 .5em;
    @include underline;
    display: inline-block;
  }
  &__position{
    font-size:.8em;

  }
  &__email{
    font-size:.8em;
  }


}
