// main styling for all top right nav
// construction happens in navigation.php, custom walker classes, and header
//mobile-menu
.title-bar {
  background-color: $white;
  color: $white;
  padding: 10px;
  position: fixed;
  width: 100%;
}

.mobile-off-canvas-menu {
  margin-top: 10px;
  background-color: $white;

  li {
    border-bottom: 0.1px $light-gray solid;
  }
}
//desk-top
.site-navigation {
  color: $medium-gray;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #fefefe;
  padding: 30px 0 30px 30px;
  width: 100%;
  height: $header-top-length;

  .top-bar-left {
    float: none;
    position: fixed;
    padding: 10px;
    z-index: 5;
  }

  .top-bar-right {
    position: fixed;
    padding: 10px;
    top: 50px;
  }

  .top-bar-r {
    font-size: 0.8em;
    float: right;

    .current_page_item a {
      color: $primary-color;
      @include underline;
      position: relative;
      display: inline-block;

      &:after {
        transform-origin: right;
        transform: scaleX(1);
      }
    }

    li {
      &:before {
        color: $secondary-color;
        float: left;
        margin: 7px 0 0;
        width: 1em;
        content: '\25AA';
        display: inline-block;
      }

      a {
        position: relative;
        display: inline-block;
        @include underline;
        cursor: pointer;

        &:hover {
          &:after {
            transform-origin: right;
            transform: scaleX(1);
          }
        }
      }

      &:first-child:before {
        display: none;
      }
    }
  }

  .program-bar-r {
    width: 90%;
    float: right;
    text-align: right;
    margin-top: 1em;

    .green-block {
      background-color: $primary-color;
      font-size: 0.8em;
      font-weight: 700;
      width: 150px;
      float: right;
      height: 60px;
      text-align: center;
      width: 130px;
      padding: 10px 0;

      a {
        color: $white;
      }
    }

    .contact {
      &:after {
        content: '';
        width: 20px;
        height: 20px;
        position: relative;
        background-image: url("../images/call.png");
        display: block;
        top: -20px;
        left: 10px;
        background-size: contain;
      }
    }

    .search {
      background-image: url("../images/search.png");
      width: 40px;
      height: 40px;
      padding: 5px;
      background-repeat: no-repeat;
      background-position: center;
    }

    .top-level {
      font-size: 0.8em;
      font-weight: 700;
      width: 150px;
      float: right;
      height: 30px;
      line-height: 15px;
      text-align: center;
      width: 130px;
      padding: 10px 0;
      border-right: 1px solid $secondary-color;

      a {
        color: $light-gray;
      }

      .sub-menu {
        top: $header-top-length;
        display: none;
        right: auto;
        left: 0;
        float: left;
        width: 100%;
        position: fixed;
        padding: 40px;
        background-color: $primary-color;
        color: $white;
        z-index: 6;
        margin-left: 0;
        text-align: left;
        background-image: url("../images/menu.jpg");

        .sub-menu-closer {
          @include grid-column(2);
          cursor: pointer;
          float: left;
          width: 30px;
          height: 30px;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url('../images/icons/close.png');
          transition: all 0.45s;

          &:hover {
            opacity: 0.6;
          }
        }

        .sub-menu-label {
          @include grid-column(5);
          float: left;

          .sub-menu-title {
            font-size: 1.2em;
            font-weight: 300;
            text-transform: uppercase;
          }

          .sub-menu-description {
            font-size: 0.9em;
            font-weight: 400;
          }
        }

        .sub-menu-items {
          @include grid-column(3);
          float: left;
        }

        a {
          color: $white;
          //  display:inline-block;
          font-size: 1.1em;
          font-weight: 400;
          border-bottom: 1px $secondary-color solid;
          line-height: 1.5em;
          width: 100%;
        }

        ul {
          top: 219px;
          margin-left: 170px;
          position: fixed;
          padding: 0;
          background-color: transparent;
          color: #fefefe;
          z-index: 3;
          margin-right: 0;
          background-image: none;
          background-color: transparent;
          float: right;
          list-style-position: outside;

          .sub-menu-label {
            display: none;
          }
          background-image: none;
          background-color: transparent;

          li {
            a {
              padding: 0 10px 10px 0;
              border-bottom: none;
              float: left;
            }
          }
        }
      }
    }
  }
}
