h1 {
  text-transform: uppercase;
  font-family: 'Roboto Slab', Palatino, Palladio, Baskerville, Georgia, serif;
}

h3,
h5,
h6 {
  color: $light-gray;
  font-family: 'Roboto Slab', Palatino, Palladio, Baskerville, Georgia, serif;
}

h2, h4 {
    color: $primary-color;
    font-family: 'Roboto Slab', Palatino, Palladio, Baskerville, Georgia, serif;
}

.home__split-title h3 {
    color: $white;
    font-size: 1.3rem;
}

.home__testimonials h3 {
        color: $primary-color;
        font-size: 2.3rem;
}

.home__links-title h4 {
    color: $white;
}

.entry-title{
  padding-bottom: .5em;
}

.sidebar-left .row {
  //subtitle
  margin-top: 2em;
}

blockquote {
  color: $primary-color;
  font-style: italic;
  font-weight: 300;
  font-size: 1.2em;
}
//for all bolded statments

.bold,
.type__callout,
bold {
  font-weight: bold;
  color: $medium-gray;
}

p a {
  position: relative;
  display: inline-block;
  @include underline;
  color: $primary-color;
  cursor: pointer;
  //transition: opacity 0.35s;
}

a:hover {
  &:after {
    transform-origin: right;
    transform: scaleX(1);
  }
}

.no-underline {
  &:hover {
    opacity: 0.9;
  }

  &:after {
    display: none;
  }
}

ul li {
  list-style-type: none;
}

article ul li {
  list-style-type: circle;
}

ul li:before {
  color: $primary-color;
  float: left;
  margin: 0 0 0 -1em;
  width: 1em;
  content: '\25AA';
}

input::-webkit-input-placeholder {
  /* Chrome */
  color: $medium-gray;
}

input:-ms-input-placeholder {
  /* IE 10+ */
  color: $medium-gray;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: $medium-gray;
  opacity: 1;
}

input:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: $medium-gray;
  opacity: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.button-white {
  border: 1px #5c8727 solid;
  padding: 20px 40px 20px 20px;
  font-size: 1.2em;
  color: #5c8727;
  font-weight: 300;
  margin-top: 1em;
  display: inline-flex;
  transition: all 0.45s;
  cursor: pointer;

  &:hover {
    background-color: $primary-color;
    color: $white;

    &:after {
      transform: translate(15px, 0px);
    }
  }

  &:after {
    content: '\25BA';
    display: block;
    width: 10px;
    height: 10px;
    transform: translate(10px, 0px);
    margin: 0;
    transition: all 0.2s;
    background-color:transparent;
  }
}

.button-green {
  background-color: $primary-color;
  color: $white;
  padding: 20px 40px 20px 20px;
  font-size: 1.2em;
  font-weight: 300;
  margin-top: 1em;
  display: inline-flex;
  transition: all 0.45s;
  cursor: pointer;

  &:hover {
    background-color: $white;
    color:$primary-color;

    &:after {
      transform: translate(15px, 0px);
    }
  }

  &:after {
    content: '\25BA';
    display: block;
    width: 10px;
    height: 10px;
    transform: translate(10px,0px);
    margin: 0;
    transition: all 0.2s;
    background-color:transparent;
  }
}

.home__slider h2.home-slider-heading {
    font-family: 'Roboto Slab', Palatino, Palladio, Baskerville, Georgia, serif;
    font-size: 40px;
    color: $primary-color;
    text-align: left;
    line-height: 1.15;
}

.home__slider p.home__slider-description {
    font-size: 16px;
}

.home__slider h2.home-slider-heading-mobile {
    font-family: 'Roboto Slab', Palatino, Palladio, Baskerville, Georgia, serif;
    font-size: 20px;
    color: $primary-color;
    text-align: left;
    line-height: 1.25;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 15px;
}

.home__slider p.home__slider-description-mobile {
    font-size: 16px;
    margin-left: 25px;
    margin-right: 25px;
}

@media screen and (max-width: 39.9375em) {
    .home__split-column {
        padding: 35px;
    }
}
