.main-wrap {
  @include grid-row();
  margin-top: 12rem;

  @include breakpoint(large up) {
    margin-top: $header-top-length;
  }
  @include breakpoint(medium down) {
    margin-top: 0;
  }
}

.main-content {

  // default 2 column
  @include grid-column(12);
  @include breakpoint(medium) {
    @include grid-column(8);
  }

  // 1 column
  .full-width.main-wrap & {
    @include breakpoint(medium) {
      @include grid-column(12);
    }
  }

  // 2 column sidebar left
  .sidebar-left.main-wrap & {
    @include breakpoint(medium) {
      @include grid-column(9);
      @include grid-col-pos(3);
    }
  }
}

.sidebar {

  // default 2 column
  @include grid-column(12);
  @include breakpoint(medium) {
    @include grid-column(4);
    margin-top: 1rem;
  }

  // 2 column sidebar left
  .sidebar-left.main-wrap & {
    @include breakpoint(medium) {
      @include grid-column(3);
      @include grid-col-pos(-9);
      margin-top: 1rem;
    }
  }
}
