.footer-container {
  max-width: 100%;
  width: 100%;
  margin: rem-calc(60) auto 0;
  color: $white;
  padding: 30px 0 0;
  font-size: 0.8em;
}

.footer {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .footer-form {
    background-color: $primary-color;
    padding: 50px 0;
    color: $white;

    .form-title {
      color: $white;
    }

    nf-field {
      color: $white;
      float: left;
      padding: 10px 20px 0 0;
      @include breakpoint(large){
        @include grid-column(6,0px);
        padding-right:1em;
      }
      @include breakpoint(small){
        @include grid-column(12,0px);
        padding-right:1em;
      }

      input {
        background-color: $white;
        color: $black;
        border: none;
        box-shadow: none;
        border-bottom: 1px $white solid;
        padding:10px 0 0 0;
      }
    }

    nf-field:last-child {
      width: 100%;
    }

    select {
      background-color: $white;
      border: none;
      border-bottom: $white 1px solid;
      color: $black;
      transform: translateY(-10px);
        
        &::placeholder {
            color: $medium-gray
        }
        
    }

    label {
      color: $white;
    }

    .nf-error-msg, span.ninja-forms-req-symbol {
      color: $secondary-color;
    }

    textarea {
      box-shadow: none;
      background-color: $white;
      color: $black;
      border: 1px $white solid;
    }

    input {
      box-shadow: none;
    }

    .submit-wrap {
      input {
        border: 1px $white solid;
        padding: 15px 40px;
        float: right;
        transition: all 0.45s;
        font-weight: 700;

        &:hover {
          background-color: $white;
          color: $primary-color;
        }
      }
    }
  }

  .footer-upper {
    background-color: $medium-gray;
    padding: 20px 0;
    text-align: center;
    @include breakpoint(small){
     padding: 60px 0 40px 0;
    }

    .row-16 {
      @include grid-row(16) {
         @include breakpoint(small){
          article {
            @include grid-column(4);
            padding:20px;
            height: 110px;
          }
        }
        @include breakpoint(large) {
          article {
            @include grid-column(2);

            img {
              height: 30px;
            }
          }
        }
      }
    }
  }

  .footer-lower {
    background-color: $dark-gray;
    padding: 60px ;
    widget{
      img{
        width:150px;
      }
    }
      
    @include breakpoint(small){
    padding: 30px 0;
    width:100%;
    text-align: center;
    article{
      padding: 2em 1em 1em 1em;
    }
    .footer-contact{
    text-align: center;
    float:none;
    }
    }
  }
}

.footer-contact {
  float: right;
  text-align: right;

  h4 {
    color: $white;
  }

  img {
    width: 40px;
    padding: 0 0 0 10px;
  }

  a {
    transition: opacity 0.35s;
  }

  a:hover {
    opacity: 0.8;
  }

  a:after {
    display: none;
  }
}

.footer-cta {
    margin-top: 35px;
    line-height: 1.2;
    font-size: 1.3em;
}